html {
	background: url(images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	}

@media only all and (max-width: 640px) and (max-height: 426px) {
html {
background-size: 640px 426px;
-moz-background-size: 640px 426px;
-webkit-background-size: 640px 426px;}
}

@media only screen and (orientation: portrait) and (device-width: 320px), (device-width: 768px) {
html {
-webkit-background-size: auto 100%;
}
}
 
@media only screen and (orientation: landscape) and (device-width: 320px), (device-width: 768px) {
html {
-webkit-background-size: 100% auto;
}
}
	
body {
	padding: 0px;
	margin: 0px;
	text-align: center;
	font-family: 'gill sans', 'microsoft sans serif', verdana, helvetica, sans-serif;
	font-size: 14px;
	}
	
h2 {margin: 0px; padding: 0px; font-size: 20px;}
p {margin: 0px; padding: 0px; padding-bottom: 14px; line-height: 16px;}
a:link {color: #000}
a:visited {color: #000}
a:hover {color: #f26625}
a:active {color: #000}
.small-text {font-size: 11px;}

/*#container {background: url(images/bg.jpg);
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 926px;
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #a07469;
	position: absolute;
	}	*/
	
#main {
	margin: 0px auto 10px auto;
	padding: 0px;
	position: relative;
	top: 0px;
	width: 751px;
	height: 450px;
	background: url(images/postcard.jpg) #f0e1c8 no-repeat;
	text-a;ign: left;
	-moz-box-shadow: 2x 2px 12px #555;
	-webkit-box-shadow: 2px 2px 12px #555;
	box-shadow: 2px 2px 12px #555;
	}

#topper {margin: 0px auto; width: 755px; margin-top: 60px;}
#topper a {text-decoration: none;}
#topper img {border: none;}

#nav {
position: relative;
list-style: none; /* add this here */
padding: 0;
margin: 0;
left: 564px;
top: 162px;
width: 175px;
height: 260px;
background: url(images/nav.gif) no-repeat #f0e1c8;
}	


#nav li {
float: left; /* add this */
width: 100%; /* add this */ 
}

#nav a {
display: block;
background: transparent url(images/nav.gif) 0 0 no-repeat;
}

#home a {
height: 52px;
background-position: 0 0;

}

#menu a {
height: 52px;
background-position: 0 -52px;
/*
display: block;
top: 75px;
*/
}

#catering a {
height: 52px;
background-position: 0 -104px;
}

#contact a {
height: 52px;
background-position: 0 -156px;
}

#news a {
height: 52px;
background-position: 0 -208px;
}

#home a:hover {background-position: -175px 0px;}
#menu a:hover {background-position: -175px -52px;}
#catering a:hover {background-position: -175px -104px;}
#contact a:hover {background-position: -175px -156px;}
#news a:hover {background-position: -175px -208px;}

#home a:active {background-position: -350px 0px;}
#menu a:active {background-position: -350px -52px;}
#catering a:active {background-position: -350px -104px;}
#contact a:active {background-position: -350px -156px;}
#news a:active {background-position: -350px -208px;}

#nav span {
display: none;
} 

#main2 {
	margin: 60px auto;
	padding: 0px 0px 55px 0px;
	width: 700px;
	background: url(images/inside-bg.gif) #f0e1c8;
	text-align: left;
	}

#header {
	position: absolute;
	margin: -38px 0px 0  0;
	padding: 0px;
	width: 750px;
	height: 128px;
	background: url(images/header.gif)
	}

#nav2 {
	position: relative;
	padding: 0;
	margin: 0;
	top: 38px;
	width: 522px;
	height: 68px;
	background: url(images/nav2.gif) no-repeat #f0e1c8;
	float: left;
	
}	


#nav2 li {
	margin: 0; 
	padding: 0; 
	list-style: none;
    position: absolute; 
    top: 0;
}

#nav2 li, #nav2 a {
	height: 68px;
	display: block;
}

#menu2 {left: 0px; width: 118px;}
#catering2 {left: 118px; width: 158px;}
#contact2 {left: 276px; width: 150px;}
#news2 {left: 426px; width: 114px;}
#home2 {left: 545px; width: 150px;}

#menu2 a:hover {background: transparent url(images/nav2.gif) 0 -68px no-repeat;}
#catering2 a:hover {background: transparent url(images/nav2.gif) -118px -68px no-repeat;}
#contact2 a:hover {background: transparent url(images/nav2.gif) -276px -68px no-repeat;}
#news2 a:hover {background: transparent url(images/nav2.gif) -426px -68px no-repeat;}
    
 #menu2 a:active {
    background: transparent url(images/nav2.gif)
    0 -136px no-repeat;}
  #catering2 a:active {
    background: transparent url(images/nav2.gif)
    -118px -136px no-repeat;}
  #contact2 a:active {
    background: transparent url(images/nav2.gif)
    -276px -136px no-repeat;}
  #news2 a:active {
    background: transparent url(images/nav2.gif)
    -426px -136px no-repeat;}

#meyer {margin-left: 40px; margin-top: 10px;}
#meyer img {float: left; margin-right: 10px;}

#nav2 span {display: none;} 

#content {
	position: relative;
	margin: 0px auto;
	padding: 10px;
	top: 60px;
	width: 660px;
	}

#content-left {margin: 25px 0px 0px 0px; padding: 0px; width: 360px; float: left;}

#content-right {margin: 25px 0px 0px 20px; padding: 0px; width: 275px; float: left;}
#content-right img {vertical-align: middle}